* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.bg-image{

    background-image: url("../img/jumbo.png");
    background-size: 100%;
    background-position: 100%;
}

.p-120{
    padding: 120px;
}

.bg-stars{

    background-image: url("../img/stars.svg");
    background-size: 50%;
    background-repeat: no-repeat;
    
    
    
}